/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f0f2f5;
  padding: 50px 100px 100px 50px;
}

.subject-card {
  background-color: white;
  padding: 5px 5px 15px;
  border-radius: 3px;
  transition: box-shadow 0.5s;
  margin-bottom: 50px;

  &:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
  }

  .add-lab {
    margin-top: 20px;
    padding-left: 50px;

    input {
      margin-left: 5px;
    }

    input[type="text"] {
      margin-right: 10px;
    }

    button {
      margin-left: 10px;
    }
  }

  .labs-buttons {
    margin-top: 10px;
    margin-left: 400px;
    button {
      margin-right: 20px;
    }
  }

  .subject {
    padding: 5px;

    .header {
      display: block;
      border-bottom: 2px solid #0080FF;
      padding-left: 10px;
      font-size: x-large;
      font-weight: bolder;
      color: #0080FF;
    }

    .labs {
      padding: 15px;
      padding-bottom: 0px;

      .lab {
        border: 2px solid #0080FF;
        border-radius: 5px;
        padding: 5px 10px 5px;
        margin-bottom: 5px;

        .header {
          display: block;
          vertical-align: text-bottom;
          font-size: medium;
          font-weight: bolder;
          color: #0080FF;
        }
      }
    }
  }
}

.side-bar {
  background-color: rgba(0,180,255,0.9);
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 3px;
  height: 700px;
  width:  270px;
  position: fixed;

  .subject-form {
    color: white;
  }
}
